@model Song
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Song</title>
</head>
<body>
    <div>
        <h3 class="gray">Добавление Песни</h3>

       
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.HiddenFor(m => m.Song_id)
                <p class="gray">
                    @Html.LabelFor(m => m.SongName, "Название песни")
                    <br />
                    @Html.EditorFor(m => m.SongName)
                    @Html.ValidationMessageFor(m => m.SongName)
                </p>
                <p class="gray">
                    @Html.LabelFor(m => m.Duration, "Длительность")
                    <br />
                    @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", @style = "background-color: transparent; color: white" })
                    @Html.ValidationMessageFor(m => m.Duration)

                </p>
                <p><input type="submit" value="Отправить" /></p>
            </fieldset>
        }
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <button>Вернуться на Главную</button>
        }
    </div>
    @section Scripts {
       @Scripts.Render("~/bundles/jqueryval")
    } 
</body>
</html>