@using PagedList.Mvc;
@model PagedList.IPagedList<Album>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Albums</title>
</head>
<body>
    <div>
        <h3 class=" gray">Список Альбомов</h3>

        @using (Html.BeginForm("Search", "Albums", FormMethod.Post))
        {
            <table style="background-color:rgba(0, 0, 0, 0.51)">
                <tr>
                    <td>
                        @Html.TextBox("data", "", new { @placeholder = "Поиск" })
                    </td>
                    <td align="right" style="padding-right:20px;">
                        <input style="padding:0 30px" type="submit" value="Искать" />
                    </td>
                </tr>
            </table>
        }
        <table style="background-color:rgba(0, 0, 0, 0.51)" id="grid">
            <thead>
                <tr>
                    <th data-type="number" id="sort">
                        <img src="/Content/arrowUp.jpg" style="height:10px; width:10px " id="sort" data-type="number" />
                        ID
                    </th>
                    <th data-type="string" id="sort">
                        <img src="/Content/arrowUp.jpg" style="height:10px; width:10px " id="sort" data-type="string" />
                        Название
                    </th>
                    <th data-type="string" id="sort">
                        <img src="/Content/arrowUp.jpg" style="height:10px; width:10px " id="sort" data-type="string" />
                        Дата релиза
                    </th>
                    <th data-type="string" id="sort">
                        <img src="/Content/arrowUp.jpg" style="height:10px; width:10px " id="sort" data-type="string" />
                        Жанр
                    </th>
                    <th data-type="string" id="sort">
                        <img src="/Content/arrowUp.jpg" style="height:10px; width:10px " id="sort" data-type="string" />
                        Исполнитель
                    </th>

                    <th>
                        @if (User.IsInRole("admin"))
                        {
                            <a href="/Albums/Add"><img src="/Content/add.png" width="20" height="20" /></a>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>
                            @b.Album_id
                        </td>
                        <td>
                            @b.AlbumName
                        </td>
                        <td>
                            @Convert.ToDateTime(b.ReleaseDate).ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            @b.Genre.GenreName
                        </td>
                        <td>
                            @b.Artist.ArtistName
                        </td>

                        <td>

                            <p>
                                <a href="/Albums/Details/@b.Album_id"><img src="/Content/details.png" width="20" height="20" /></a>
                            </p>
                            @if (User.IsInRole("admin"))
                            {
                                <p>
                                    <a href="/Albums/Edit/@b.Album_id"><img src="/Content/edit.png" width="20" height="20" /></a>
                                </p>

                                <p>
                                    <a href="/Albums/Delete/@b.Album_id" onclick="return confirm('Уверены?')"><img src="/Content/delete.png" width="20" height="20" /></a>
                                </p>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @if (Model.HasPreviousPage)
        {
            @Html.ActionLink("«", "Show", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class = "gray" })
            @Html.Raw(" ");
            @Html.ActionLink("< Prev", "Show", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class = "gray" })
        }
        else
        {
            @:«
            @Html.Raw(" ");
            @:< Prev
}

        @if (Model.HasNextPage)
        {
            @Html.ActionLink("Next >", "Show", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class = "gray" })
            @Html.Raw(" ");
            @Html.ActionLink("»", "Show", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class = "gray" })
        }
        else
        {
            @:Next >
            @Html.Raw(" ")
            @:»
        }
        <br />

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <button>Вернуться на Главную</button>
        }
    </div>
    <script src="/Content/sortik.js"></script>
</body>
</html>
