<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style1.css" />
    <link rel="shortcut icon" href="~/Content/lalala.png" type="image/png">
    <title>Главная</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Content/hideandseek.js"></script>

</head>
<body class="bgrd">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FollowMusic", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Исполнители", "Show", "Artists")
                    @Html.ActionLink("Альбомы", "Show", "Albums")</li>

                    <li>@Html.ActionLink("Жанры", "Show", "Genres")
                    @Html.ActionLink("Песни", "Show", "Songs")</li>

                    <li>@Html.ActionLink("Лейблы", "Show", "Label")
                    @Html.ActionLink("Магазины", "Show", "Shops")</li>
                    <li></li>
                    @if (User.IsInRole("admin") || User.IsInRole("user"))
                    {
                        <li>@Html.ActionLink("Плейлисты", "Show", "Playlists")</li>
                        <li>@Html.ActionLink("Заказы", "Show", "Orders")</li>
                        <li>@Html.ActionLink("Статистика", "Statistic", "Home")</li>
                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Пользователи", "Show", "Users")</li>

                        }
                    }
                    @*<li>@Html.ActionLink("Statistics", "Statistic", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="padding-top:60px;">
        @RenderBody()
        <hr />
        <footer>
            <p class=" gray">&copy; @DateTime.Now.Year – FollowMusic</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
